th {
    background-color: gray;
}

tr {
    background-color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th, td {
  padding: 5px;
  text-align: left;
}

table {
    width: 90%;
    margin: auto;
    border: 1px black solid;
    border-collapse: collapse;
    font-size: small;
    margin-top: 20px;
}


.return-button-wrapper {
    width: 90%;
    text-align: right;
    margin: auto;
    display: block;
}

.return-button {
    background-color: #ff1010;
    border: 2px red solid;
    border-radius: 3px;
    border-right-color: maroon;
    border-bottom-color: maroon;
    padding: 10px;
    color: white;
    font-size: medium;
    margin-top: 20px;
}

.return-button:hover {
    background-color: maroon;
}